{
	"folders": [
		{
			"path": ".",
			"name": "octo-cluster"
		}
	],
	"settings": {
		"terminal.integrated.env.windows": {
			"OCTO_CLUSTER": "${workspaceFolder:octo-cluster}",
			"AI_EXECUTION_CONTEXT": "platform"
		},
		"terminal.integrated.env.linux": {
			"OCTO_CLUSTER": "${workspaceFolder:octo-cluster}",
			"AI_EXECUTION_CONTEXT": "platform"
		},
		"terminal.integrated.env.osx": {
			"OCTO_CLUSTER": "${workspaceFolder:octo-cluster}",
			"AI_EXECUTION_CONTEXT": "platform"
		}
	},
	"extensions": {
		"recommendations": [
			"ms-vscode.powershell",
			"redhat.vscode-yaml"
		]
	}
}
